/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

body{
    margin: 0 auto;
    background-color: black;
    color: white;
}



.nav ul {
    display: flex;
    width: 731px;
    justify-content: space-between;
    list-style: none;
}
li {
    font-size: 20px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

h1{
    font-size: 40px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;

}
h2{
    font-size: 28px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;

}
home{
    max-width: 1200px;
    height: 546px;
    display: flex;
    margin: 0 auto;
    margin-top: 73px;
    align-items: center;
    background: url(img/home.svg);
    margin-bottom: 70px;
}
home .text{
    display: inline-block;
    vertical-align: middle;
}
home button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 210px;
    height: 48px;
    color: white;
    background-color: #4A77BC;
    font-size: 20px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    border: navy;
}
p{
    font-size: 20px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    margin: 0;
}
h3{
    font-size: 24px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;

}
catalog{
    height: 526px;
    margin-bottom: 80px;
}
catalog h2{
    margin-bottom: 40px;
}
.image-container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 21px;
}

.image-container img {
    width: calc(33.33% - 21px);
}

.image-container img:nth-child(n+4) {
    width: calc(50% - 13px);
}

about h3{
    font-size: 24px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
about{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    align-items: center;
    margin-top: 46px;
}
about .text{
    width: 549px;
}
about .block{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 312px;
}
difference{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    align-items: center;
    margin-top: 55px;
}
difference p{
    margin-bottom: 25px;
}


footer{
    background-color: #2A348F;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.logos{
    max-width: 340px;
    display: block;
}
.logos p{
    margin-top: 25px;
}
.navigation ul {
    list-style: none;
    margin-top: 0;
}
.navigation li, .contact p{
    margin-bottom: 5px;
}

.map{
    max-width: 1200px;
    margin: 0 auto;
}

.info{
    max-width: 1200px;
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
}

.geo{
    width: 257px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}
.time{
    width: 254px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}

.phone{
    width: 233px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}

form{
    height: 369px;
    margin: 0 auto;
    width: 1200px;
    background-color: #2A348F;

}
h6{
    font-size: 28px;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 37px;
    margin-bottom: 0;
}
